@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

* 
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Work Sans', sans-serif
    color: white


main
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 100vh
    background: #000

.upper-block,
.bottom-block
    display: flex
    justify-content: space-around


.upper-block
    height: 62vh

.bottom-block
    height: 35vh
    
.main-info,
.highlights,
.coordinates,
.humidity
    border-radius: 30px
    padding: 20px
.main-info
    background-image: url('@/assets/img/gradient-1.jpg')
    width: 30vw
    display: flex
    flex-direction: column

.search-wrapper
    display: flex

.search
    max-width: 20vw
    width: 100%
    max-height: 10vh
    border-radius: 20px
    border: none
    background-color: #000

.search__icon
    width: 3vw
    
.weather-info
.main-info__icon
    padding: 3vh 0
.icon
    max-width: 10vw
.temperature
    font-size: 3em
    padding-bottom: 3vh
.weather-description
    font-size: 1.5em
    display: flex
    align-items: center
    gap: 10px
    border-bottom: 1px solid white
    padding-bottom: 30px
.weather-description__icon
    max-width: 5vh
.city-date
    flex-direction: column
    display: flex
    justify-content: space-around
    padding: 30px 0
    

.city
    font-size: 1.5em
    display: flex
    align-items: center
.city__icon
    max-width: 50px
.date
    font-size: 1.5em
    display: flex
    align-items: center
    gap: 10px
.date__icon
    max-width: 50px
.highlights
    background-image: url('@/assets/img/gradient-2.jpg')
    width: 68vw
.highlights-wrapper
    display: flex
    align-items: center
    justify-content: space-around
    height: 100%
.highlights-item
    display: flex
    flex-direction: column
    justify-content: space-between
.highlights-item__main
    flex-direction: column
    display: flex
    justify-content: space-between
    align-items: center
.highlights-item__main-text
    font-size: 1.5em
    padding: 20px 0
.highlights-item__main-icon
    max-width: 10vw
.highlights-item__main-text-wrapper
.highlights-item__sub
.highlights-item__sub-icon
    max-width: 30px
.highlights-item__sub-text
.highlights-item__sub-text-wrapper
.highlights-item__sub-text-sub-wrapper
.highlights-item__sub-text__gray
.sun
.sunrise
.sun__icon
    max-width: 3vw
.sun__text
.sun__time
.sunset
.bottom-block
.coordinates
    background-image: url('@/assets/img/gradient-3.jpg')
    width: 49vw
.coordinates-info
.longitude
.longitude-title
.longitude-text
.latitude
.latitude-title
.latitude-text
.humidity
    background-image: url('@/assets/img/gradient-4.jpg')
    width: 49vw
.humidity-info
.humidity-title
.humidity-text


